.contacts {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;

    &--site {
      background: url('/img/siteIcon.svg') center no-repeat;
      background-size: cover;
    }
    
    &--phone {
      background: url('/img/phoneIcon.svg') center no-repeat;
      background-size: cover;
    }
    &--adress {
      background: url('/img/adressIcon.svg') center no-repeat;
      background-size: cover;
    }
    &--birth {
      background: url('/img/birthIcon.svg') center no-repeat;
      background-size: cover;
    }
    &--mail {
      background: url('/img/mailIcon.svg') center no-repeat;
      background-size: cover;
    }
  }

  &__title {
    margin-right: 10px;
  }
}