.link {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--gray {
    color: #a2891c;
  }

  &--black {
    color: #000;
  }

  &--underline {
    text-decoration: underline;
  }
}
