.lng-toggler {
  position: relative;
  width: 150px;
  padding: 10px 0;
  margin-left: -100px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 20px;

  &:hover {
    cursor: pointer;

    & .lng-toggler__list {
      display: block;
    }

    & .lng-toggler__current {

      &::after {
        border-top: none;
        border-bottom: 10px solid #000;
      }
    }
  }

  &__current {
    position: relative;
    z-index: 2;
    padding: 0 30px;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      right: -30px;
      border: 10px solid transparent;
      border-top: 10px solid #000;
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    padding-top: 30px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }

  &__item {
    padding: 10px 0;
    padding-left: 30px;

    &:hover {
      background: #ebebeb;
    }
  }

  &--noauth {
    margin-left: -80px;
  }
}
