extends ../pug/noAuthLayout.pug

block meta
	title Авторизація
	meta(name='description', content='Сторінка авторизації SpecGo')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
	.flex-container.flex-container--around
		h1.main-title Авторизація

	.flex-container.flex-container--around
		a.logo(href="/auth")
			img(src="/img/logoAuth.svg", alt="")

	.flex-container.flex-container--around
		form.form(action="#")
			.white-aria
				label.form__label(for="login") Логін
				input.form__input(type="text", name="login", id="login")
				label.form__label(for="password") Пароль
				input.form__input.flex-container(type="password", name="password", id="password")
				input.button.button--full-width(type="submit", value="Увійти")

	.flex-container.flex-container--small-width
		a.link.link--black.link--underline(href="#") Забули пароль
		a.link.link--black.link--underline(href="/register.html") Реєстрація

	.social-auth
		h2.social-auth__title Увійти за допомогою
		ul.social-auth__list
			li.social-auth__item
				a.social-auth__link.social-auth__link--fb(href="#") Фейсбук
			li.social-auth__item
				a.social-auth__link.social-auth__link--tg(href="#") Фейсбук


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
