extends ../pug/layout.pug

block meta
  title Про кандидата
  meta(name='description', content='Профіль кандидата')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  .white-aria.white-aria--large-padding.white-aria--tight
    .title-line.title-line--info
        h1 Про кандидата
    .flex-container
      .media.media--small
        .media__content.media__content--active
          img(src="http://res.cloudinary.com/haxbn2gpa/image/upload/v1562986884/specgo/oyd6atrmjaag8jtz7l1n.jpg", alt="")
      .media.media--small
        .media__content.media__content--active.media__content--square
          img(src="/img/qr.png", alt="")

    h2.main-title Каменетский Иван Сергеевич
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nisi earum nobis repellat ab veniam voluptas temporibus placeat incidunt magnam suscipit maiores atque totam, nostrum facere ut aspernatur laboriosam distinctio sint? Nam ipsum accusamus praesentium totam, repellendus veritatis illo quos neque esse debitis optio perferendis. Qui molestiae necessitatibus placeat ratione aliquid culpa doloribus ipsam quibusdam consequatur? Non nesciunt sint est possimus eligendi alias commodi excepturi porro error expedita facilis provident unde harum optio enim impedit nihil, suscipit itaque dolorem maiores. Perferendis distinctio molestiae hic quam ab corporis necessitatibus reprehenderit autem earum sequi temporibus odit eligendi eveniet voluptatem, cum culpa ullam?

  .white-aria.white-aria--large-padding.white-aria--tight
    .title-line.title-line--info
      h2 Програма кандидата
    h3 Lorem, ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, enim voluptates! Minima sunt veniam in. Deserunt optio rerum enim delectus, quis ipsa voluptas in ad rem exercitationem numquam sapiente nemo, temporibus impedit ut quisquam consectetur vitae minus nobis excepturi non totam accusantium fugit! Minus beatae aut, quam odit fugit non magni eius esse, culpa repellendus saepe! Sapiente deserunt architecto assumenda ullam! Eaque cum maxime quae harum nisi neque non voluptatibus, exercitationem sunt explicabo inventore architecto?
    h3 Lorem, ipsum
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat esse quae soluta, hic natus culpa blanditiis autem cupiditate modi dolores accusamus facilis itaque nemo totam rem voluptatibus ipsum eos necessitatibus assumenda maiores odit dolorum. Eius, quisquam et explicabo omnis tenetur incidunt totam ad nulla quam laudantium eos ab sed fugiat porro, asperiores odit doloribus, esse unde minima voluptatibus ea! Ut sequi provident repellat vero at architecto exercitationem deleniti reprehenderit perferendis ducimus veritatis, atque earum ad. Omnis expedita quod nemo dolorem beatae quasi in atque aliquid, alias iste sint error itaque delectus fugit earum ratione explicabo corrupti reprehenderit. Cum dolorem distinctio ab aliquid expedita. Optio cupiditate et ipsam quo eius ratione veniam vel rem, harum, atque ex quam saepe dolorem delectus neque architecto facilis porro. Quo suscipit vitae iste recusandae minima odio. Ducimus laudantium assumenda eligendi atque. Rerum modi accusantium quasi dignissimos perspiciatis expedita ipsam, qui voluptatibus ad, corrupti nihil omnis tempora architecto tempore, sit repudiandae. Quasi facilis, accusamus aliquid, ex atque debitis voluptas consequuntur excepturi nam iusto quod deleniti suscipit nesciunt? Laudantium nihil ullam vero at, praesentium est corporis inventore rem quam velit officia possimus, delectus expedita hic blanditiis. Laborum aut, similique asperiores ratione expedita dicta, in magni quas tenetur mollitia, ullam reprehenderit repellendus. Dolor, sed et aspernatur, aut reprehenderit eveniet nemo officiis doloribus nostrum vitae saepe nesciunt ipsa minima a quisquam commodi, dolores maiores consequatur nulla quo iure! Sapiente illo culpa voluptatem at, ullam voluptas, quae dolorem sint, earum itaque dignissimos odio autem non commodi nam. Quo, ad!
    h3 Lorem ipsum dolor sit amet
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloribus quod nemo cumque qui quis possimus natus suscipit deserunt inventore voluptatibus temporibus quidem pariatur ut ratione, perspiciatis unde ipsum. Alias fuga ab unde sunt quo accusamus ex quisquam dolores! Sapiente dignissimos ab qui non ipsam iure vel harum adipisci facere!
  
  .white-aria.white-aria--large-padding.white-aria--tight
    .title-line.title-line--info
      h2 Програма партії
    h3 Lorem, ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, enim voluptates! Minima sunt veniam in. Deserunt optio rerum enim delectus, quis ipsa voluptas in ad rem exercitationem numquam sapiente nemo, temporibus impedit ut quisquam consectetur vitae minus nobis excepturi non totam accusantium fugit! Minus beatae aut, quam odit fugit non magni eius esse, culpa repellendus saepe! Sapiente deserunt architecto assumenda ullam! Eaque cum maxime quae harum nisi neque non voluptatibus, exercitationem sunt explicabo inventore architecto?
    h3 Lorem, ipsum
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat esse quae soluta, hic natus culpa blanditiis autem cupiditate modi dolores accusamus facilis itaque nemo totam rem voluptatibus ipsum eos necessitatibus assumenda maiores odit dolorum. Eius, quisquam et explicabo omnis tenetur incidunt totam ad nulla quam laudantium eos ab sed fugiat porro, asperiores odit doloribus, esse unde minima voluptatibus ea! Ut sequi provident repellat vero at architecto exercitationem deleniti reprehenderit perferendis ducimus veritatis, atque earum ad. Omnis expedita quod nemo dolorem beatae quasi in atque aliquid, alias iste sint error itaque delectus fugit earum ratione explicabo corrupti reprehenderit. Cum dolorem distinctio ab aliquid expedita. Optio cupiditate et ipsam quo eius ratione veniam vel rem, harum, atque ex quam saepe dolorem delectus neque architecto facilis porro. Quo suscipit vitae iste recusandae minima odio. Ducimus laudantium assumenda eligendi atque. Rerum modi accusantium quasi dignissimos perspiciatis expedita ipsam, qui voluptatibus ad, corrupti nihil omnis tempora architecto tempore, sit repudiandae. Quasi facilis, accusamus aliquid, ex atque debitis voluptas consequuntur excepturi nam iusto quod deleniti suscipit nesciunt? Laudantium nihil ullam vero at, praesentium est corporis inventore rem quam velit officia possimus, delectus expedita hic blanditiis. Laborum aut, similique asperiores ratione expedita dicta, in magni quas tenetur mollitia, ullam reprehenderit repellendus. Dolor, sed et aspernatur, aut reprehenderit eveniet nemo officiis doloribus nostrum vitae saepe nesciunt ipsa minima a quisquam commodi, dolores maiores consequatur nulla quo iure! Sapiente illo culpa voluptatem at, ullam voluptas, quae dolorem sint, earum itaque dignissimos odio autem non commodi nam. Quo, ad!
    h3 Lorem ipsum dolor sit amet
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloribus quod nemo cumque qui quis possimus natus suscipit deserunt inventore voluptatibus temporibus quidem pariatur ut ratione, perspiciatis unde ipsum. Alias fuga ab unde sunt quo accusamus ex quisquam dolores! Sapiente dignissimos ab qui non ipsam iure vel harum adipisci facere!
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
