extends ../pug/layout.pug

block meta
  title Галерея
  meta(name='description', content='Галерея користувача')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  .white-aria.white-aria--large-padding.white-aria--tight
    .title-line.title-line--gallery
      h2 Галерея
    ul.gallery
      li.gallery__item
        .gallery__img
          img(src="/img/716_1920.jpg", alt="" width="300")
        .gallery__descr
          h3 Заголовок
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam laudantium quisquam minima assumenda nemo enim officia. Temporibus, enim beatae!
      li.gallery__item
        .gallery__img
          img(src="/img/716_1920.jpg", alt="" width="300")
        .gallery__descr
          h3 Заголовок
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam laudantium quisquam minima assumenda nemo enim officia. Temporibus, enim beatae!
      li.gallery__item
        .gallery__img
          img(src="/img/716_1920.jpg", alt="" width="300")
        .gallery__descr
          h3 Заголовок
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam laudantium quisquam minima assumenda nemo enim officia. Temporibus, enim beatae!
      li.gallery__item
        .gallery__img
          img(src="/img/716_1920.jpg", alt="" width="300")
        .gallery__descr
          h3 Заголовок
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam laudantium quisquam minima assumenda nemo enim officia. Temporibus, enim beatae!




      //- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')