extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  .flex-container.flex-container--around
    button(type="button").button.button--share Поділитися

  ul.social
    li.social__item
      a(href="#").social__link.social__link--tg Телеграмм
    li.social__item
      a(href="#").social__link.social__link--fb Фейсбук
    li.social__item
      a(href="#").social__link.social__link--skype Скайп
    li.social__item
      a(href="#").social__link.social__link--insta Інстаграм
    li.social__item
      a(href="#").social__link.social__link--twitter Твіттер
    li.social__item
      a(href="#").social__link.social__link--viber Вайбер
    li.social__item
      a(href="#").social__link.social__link--youtube Ютуб
    li.social__item
      a(href="#").social__link.social__link--whatsapp Вотсап

  .flex-container
    .media#photo-video
      .media__content.media__content--active
        img(src="http://res.cloudinary.com/haxbn2gpa/image/upload/v1562986884/specgo/oyd6atrmjaag8jtz7l1n.jpg", alt="")
      .media__content
        video(src="http://res.cloudinary.com/haxbn2gpa/video/upload/v1563139189/specgo/obesfvckvzqh37casrue.mp4").media__content-video
      .media__toggler
        .media__toggler-item.media__toggler-item--active Фото
        .media__toggler-item Відео
        .media__toggler-visual
    .media#qr-qr
      .media__content.media__content--active.media__content--square
        img(src="/img/qr.png", alt="")
      .media__content.media__content--square
        img(src="/img/qr1.png", alt="")
      .media__toggler
        .media__toggler-item.media__toggler-item--active Поділитися
        .media__toggler-item Додати
        .media__toggler-visual

  button.button#testButton Тест

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
