extends ../pug/noAuthLayout.pug

block meta
	title Реєстрація
	meta(name='description', content='Сторінка авторизації SpecGo')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
	.flex-container.flex-container--middle-width
		.white-aria.white-aria--large-padding
			.title-line.title-line--register
				h1 Реєстрація
			p Будь ласка, заповніть данні для реєстрації у додатку
			form.form.form--register(action="#")
				formgroup.form__formgroup
					label.form__label.form__label--register(for="email") Ваша пошта
					span.form__requared  *
					input.form__input.form__input--register(type="email", requared, name="email", id="email")
					label.form__label.form__label--register(for="password") Введіть ваш пароль
					span.form__requared  *
					input.form__input.form__input--register(type="password", requared, name="password", id="password")
					label.form__label.form__label--register(for="passwordRepeat") Повторіть пароль ще раз
					span.form__requared  *
					input.form__input.form__input--register(type="password", requared, name="passwordRepeat", id="passwordRepeat")
				formgroup.form__formgroup
					label.form__label.form__label--register(for="name") Ваше им’я
					span.form__requared  *
					input.form__input.form__input--register(type="text", requared, name="name", id="name")
					label.form__label.form__label--register(for="surname") Ваше прізвище
					span.form__requared  *
					input.form__input.form__input--register(type="text", requared, name="surname", id="surname")
				.flex-container.flex-container--around.flex-container--full-width
					input.button.button--uppercase(type="submit", value="Зареєструватися")
				.form__error Аккаунт з такою поштою вже зареєстровано.<br/>Спробуйте увійти



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
