* {
  box-sizing: border-box;
  font-size: 1.03em;
}
body {
  background-color: #FED82C;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &--around {
    justify-content: space-around;
  }
}

.user-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

.white-aria {
  padding: 20px 30px;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
}